$primary-colour: #1C1C1C;
$secondary-colour: #eeeeee;
$hero-fonts: 'Montserrat', 'Open Sans', 'Roboto', 'Roboto Mono', 'Ubuntu', monospace, sans-serif;

:root {
    font-size: 16px;
}


.container {
    height: 100vh;
    width: 100%;

    .hero {
        height: 100vh;
        background: $primary-colour;
        color: $secondary-colour;
        font-family: $hero-fonts;

        .description {
            text-align: center;
            position: absolute;
            left: 50%;
            top: 35%;
            transform: translate(-50%, -0%);

            .pre-intro {
                margin: 0;
                font-style: italic;
                font-size: 1.2rem;
            }

            .name {
                margin: 0;
                margin-bottom: 2rem;
                font-size: 7rem;
            }

            .degree {
                font-size: 1.5rem;
                white-space: pre;
            }

            .location {
                font-size: 1.5rem;
                font-weight: 300;
                white-space: pre;
            }

            img {
                width: 2rem;
                height: 2rem;
                display: inline;
                vertical-align: middle;
                margin: 0;
            }

            .icons {
                display: flex;
                justify-content: center;
                align-items: center;

                a:hover {
                    fill: lightgreen;
                }

                .link-logo {
                    height: 48px;
                    width: 48px;
                }

                .link-logo:hover {
                    fill: lightgreen;
                }
            }

            .icons:hover {
                fill: lightgreen;
            }
        }
    }
    .projects {
        height: 100vh;
        background: $secondary-colour;
        color: $primary-colour;
    }
}

