$secondary-colour: #eeeeee;
$primary-colour: #1C1C1C;
$accent-colour: greenyellow;

:root {
    font-size: 16px;
}

header {
    z-index: 999;
    height: 2rem;
    padding: 1rem;
    background: $secondary-colour;
    color: $primary-colour;
    margin: 0;
    position: fixed;
    width: 100%;
    border-bottom: 3px solid $primary-colour;

    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        #logo {
            font-size: 30px;
            font-family: 'Ubuntu', monospace;
            padding: 0 1rem;
            text-decoration: none;
            color: $primary-colour;
        }

        nav {
            font-size: 20px;
            font-family: 'Roboto', 'Roboto Mono', 'Ubuntu', sans-serif, monospace;
            font-weight: 300;
    
            a, Link {
                font-stretch: condensed;
                text-decoration: none;
                color: $primary-colour;
                margin-left: 0.75rem;
                margin-right: 0.75rem;
    
                &:last-child {
                    margin-right: 3rem;
                }
            }
        }
    }
}