$secondary-colour: #eeeeee;
$primary-colour: #1C1C1C;
$accent-colour: greenyellow;

header {
    font-size: 16px;
    z-index: 999;
    height: 2em;
    padding: 1em 0 1em 0;
    background: $secondary-colour;
    color: $primary-colour;
    margin: 0;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid $primary-colour;

    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        #logo {
            font-size: 2em;
            font-family: 'Ubuntu', monospace;
            padding: 0 1em;
            text-decoration: none;
            color: $primary-colour;
        }

        nav {
            font-size: 1.25em;
            font-family: 'Roboto', 'Roboto Mono', 'Ubuntu', sans-serif, monospace;
            font-weight: 300;
    
            a, Link {
                font-stretch: condensed;
                text-decoration: none;
                color: $primary-colour;
                margin-left: 0.75em;
                margin-right: 0.75em;
    
                &:last-child {
                    margin-right: 2em;
                }
            }
        }
    }
}