$primary-colour: #1C1C1C;
$secondary-colour: #eeeeee;
$accent-colour: greenyellow;
$hero-fonts: 'Montserrat', 'Open Sans', 'Roboto', 'Roboto Mono', 'Ubuntu', monospace, sans-serif;


#particles-js {
    background: $primary-colour;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.container {
    height: 100vh;
    width: 100vw;
    position: relative;

    .hero {
        background: $primary-colour;
        color: $secondary-colour;
        font-family: $hero-fonts;
        align-items: center;
        

        .description {
            // max-width: 100%;
            border: 1px solid cyan;
            text-align: center;
            position: absolute;
            left: 50%;
            top: 35%;
            transform: translate(-50%, -0%);

            .pre-intro {
                margin: 0;
                font-style: italic;
                font-size: 1.2em;
            }

            .name {
                overflow: hidden;
                border-right: .02em solid $secondary-colour;
                white-space: nowrap;
                margin: 0 auto;
                font-size: 7em;
                // total time, transition smoothness, delay, dunno bout the rest
                animation: typing 1s linear 0.5s 1 normal both,
                    blink-caret 1s linear infinite;
            }

            @keyframes typing {
                from { width: 0 }
                to { width: 100% }
            }

            @keyframes blink-caret {
                from { border-color: $secondary-colour }
                to {border-color: transparent; }
            }

            .degree, .location {
                font-size: 1.5em;
                white-space: pre;
            }

            .location {
                font-weight: 300;
            }

            img {
                width: 1.5em;
                height: 1.5em;
                display: inline;
                vertical-align: middle;
                margin: 0;
            }

            .icons {
                margin-top: 2.5em;
                display: flex;
                justify-content: center;
                align-items: center;

                .link-logo {
                    height: 3em;
                    width: 3em;
                    margin: 0.5em;
                }

                .link-logo:hover {
                    fill: $accent-colour;
                }
            }
        }
    }
}

